/* Univerasl CSS */


body {
  font-family: "Helvetica", sans-serif;
  background-color: black;
  color: seashell;
  margin: 0;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
}


/* Header */

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  align-items: center;
  overflow: hidden;
}

header nav span {
  display: inline-block;
  justify-content: flex-end;
  text-decoration: underline;
  font-size: 22px;
  color: #fff5ee; /*Seashell*/
  padding: 20px 10px;
}

.logo img {
  padding-left: 10px;
  height: 50px;
}

/*Mission*/

.mission {
  display: flex;
  padding-top: 100px;
}

.mission .mission-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1220px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.mission-content h2 h4 {
  display: inline;
  justify-content: center;
  text-align: center;
  background-color: black;
  height: 100px;
  width: 1220px;
}

/*Featured Teas*/

.feature-title {
  text-align: center;
  padding-top: 30px;
  width: 1000px;
  margin: 0 auto;
}

.feature {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}


.feature span h4 {
  align-content: flex-end;
}

.feature .feature-fall {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 300px;
}

.feature .feature-spiced {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 300px;
}

.feature .feature-donuts {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 300px;
}

.feature .feature-myrtle {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 300px;
}

.feature .feature-bedford {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 300px;
}

/*Locations*/
.locations {
  display: flex;
  padding-top: 100px;
}

.locations .locations-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}

/*Contact Info*/
h2 h5 {
  color: seashell;
}

.contact {
  margin: 0 auto;
  height: 200px;
}

footer {
  padding: 20px;
  text-align: left;
  color: seashell;
  text-decoration: none;
}
